{% extends 'blog/base.html' %}
{% load static %}
{% load highlight %}

{% block search_form_pc %}
    <form class="searchform row" method="get" action="{% url 'blog:post-search' %}">
        <div class="col-md-10">
            <input id="search-input" type="text" name="q" placeholder="{% if not query %}请输入关键字{% endif %}"
                   value="{% if query %}{{ query }}{% endif %}"
                   style="letter-spacing: 1.25px;"/>
        </div>
        <div class="col-md-2">
            <button type="submit"
                    class="button button-normal button-plain button-borderless fa fa-search"></button>
        </div>
    </form>
{% endblock %}

{% block search_form_mobile %}
    <form class="searchform" method="get" id="search-meta-form" action="{% url 'blog:post-search' %}">
        <div class="col-md-10">
            <input id="search-input-meta" type="text" name="q"
                   placeholder="{% if not query %}请输入关键字{% endif %}"
                   value="{% if query %}{{ query }}{% endif %}"/>
        </div>
        <div class="col-md-2">
            <button type="submit"
                    class="button button-normal button-plain button-borderless fa fa-search"></button>
        </div>
    </form>
{% endblock %}
{% block title %}MyBlog-SearchPostList{% endblock %}
{% block post-area %}
    {% if query %}
        {% for post in object_list %}
            <div class="col-xs-6 post-container">
                <div class="post">
                    <div class="post-meta row">
                        <span class="far fa-image col-md-8 col-xs-5">&nbsp;{{ post.object.published_time }}</span>
                        <span class="far fa-comments col-md-1 col-xs-2 hold-right">&nbsp;{{ post.object.n_comments }}</span>
                        <span class="far fa-thumbs-up col-md-1 col-xs-2 hold-right">&nbsp;{{ post.object.n_praise }}</span>
                        <span class="far fa-heart col-md-1 col-xs-2 hold-right">&nbsp;0</span>
                        <span class="fas fa-eye col-md-1 col-xs-1 hold-right">&nbsp;{{ post.object.n_browsers }}</span>
                    </div>
                    <div class="post-body row">
                        <a href="{{ post.object.get_absolute_url }}" class="post-thumbnail-parent"
                           style="padding-right: 0">
                            <span class="more hide"></span>
                            <img src="{{ post.object.cover_url }}" alt="" class="post-thumbnail">
                        </a>
                        <div class="post-excerpt">
                            <div class="post-title"><a
                                    href="{{ post.object.get_absolute_url }}">{% highlight post.object.title with query html_tag "div" %}</a>
                            </div>
                            <div class="post-excerpt-content" style="padding-left: 0">
                                <div id="editormd-view{{ forloop.counter }}">
                                    <p id="markdown-doc" style="display: none">{% autoescape off %}
                                        {% highlight post.object.excerpt with query html_tag "div" max_length 400 %}{% endautoescape %}</p>
                                </div>
                            </div>
                            <a href="{{ post.object.get_absolute_url }}" class="pull-right see-more">See More >>></a>
                        </div>
                        <div class="line"></div>
                        <div class="post-tags">
                            {% for tag in post.object.tags.all %}
                                <span class="fas fa-tag"> <a
                                        href="{% url 'blog:post-tag' tag.id %}">{% highlight tag.name with query html_tag "i" %}</a></span>
                            {% empty %}
                                <span>该文章没有标签</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="post-nav row"></div>
                </div>
            </div>
        {% empty %}
            <h1 style="color: #dedede">没有找到结果？</h1>
        {% endfor %}
    {% else %}
    {% endif %}
{% endblock %}

{% block paginator-area %}
    {% if object_list %}
        {% include 'blog/pagination.html' %}
    {% endif %}
{% endblock %}

{% block extra-css %}
    <link rel="stylesheet" href="{% static 'mdeditor/css/editormd.preview.css' %}">
{% endblock %}

{% block extra-js %}
    <script src="{% static 'mdeditor/lib/marked.min.js' %}"></script>
    <script src="{% static 'mdeditor/lib/prettify.min.js' %}"></script>
    <script src="{% static 'mdeditor/lib/raphael.min.js' %}"></script>
    <script src="{% static 'mdeditor/lib/underscore.min.js' %}"></script>
    <script src="{% static 'mdeditor/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'mdeditor/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'mdeditor/lib/jquery.flowchart.min.js' %}"></script>
    <script src="{% static 'mdeditor/editormd.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            {% for post in object_list %}
                editormd.markdownToHTML("editormd-view{{ forloop.counter }}", {
                    emoji: true,
                    taskList: true,
                    tex: true,  // 默认不解析
                    flowChart: true,  // 默认不解析
                    sequenceDiagram: true,  // 默认不解析
                    tocm: true
                });
            {% empty %}
            {% endfor %}
        });
    </script>
{% endblock %}
