{% load static %}

<div id="editormd_{{ id }}"  class="wmd-wrapper">
    <textarea {{ final_attrs|safe }}>{{ value }}</textarea>
</div>

<script type="text/javascript">
    var ee = {
        'jQuery': (typeof window.django != 'undefined') ? django.jQuery : jQuery.noConflict(true)
    };
    (function ($) {
        $(document).ready(function () {
            var ed = editormd("editormd_{{ id }}", {
                width: "{{ config.width }}",
                height: "{{ config.heigth }}",
                syncScrolling: "single",
                path: "{% static  'mdeditor/lib/' %}",
                // theme
                theme: "{{ config.theme|safe }}",
                previewTheme: "{{ config.preview_theme|safe }}",
                editorTheme: "{{ config.editor_theme }}",
                toolbarAutoFixed: {{ config.toolbar_autofixed|lower }},
                searchReplace: {{ config.search_replace|lower }},
                emoji: {{ config.emoji|lower }},
                tex: {{ config.tex|lower }},
                flowChart: {{ config.flow_chart|lower }},
                sequenceDiagram: {{ config.sequence|lower }},
                tocm:{{ config.tocm|lower }},
                saveHTMLToTextarea: false,

                // image upload
                imageUpload: true,
                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL: "/mdeditor/upload/",
                toolbarIcons: function () {
                    return {{ config.toolbar|safe }};
                },
                onfullscreen: function () {
                    $('#'+this.id).css('z-index', 1100);
                },
                onfullscreenExit: function () {
                    $('#'+this.id).css('z-index', 1001);
                },
            });
        });
    })(ee.jQuery);
</script>
