{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/fancynav.min.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'blog/css/dropdown.css' %}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'blog/css/blog.css' %}"/>
    <link rel="stylesheet" type='text/css' href="{% static 'blog/css/buttons.css' %}"/>
    <link rel="stylesheet" type='text/css' href="{% static 'blog/css/fontawesome-all.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'blog/css/jquery.autocompleter.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'blog/css/jquery.windstagball.css' %}">
    {% block extra-css %}{% endblock %}
    <!--<link href="https://cdn.bootcss.com/jquery.nanoscroller/0.8.7/css/nanoscroller.min.css" rel="stylesheet">-->

    <script src="{% static 'blog/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/jquery.backstretch.min.js' %}"></script>
    <!--<script src="https://cdn.bootcss.com/jquery-backstretch/2.0.3/jquery.backstretch.min.js"></script>-->
    <script type="text/javascript" src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/dropdown.js' %}"></script>
    <!--<script src="https://cdn.bootcss.com/jquery.nanoscroller/0.8.7/javascripts/jquery.nanoscroller.min.js"></script>-->
    <script type="text/javascript" src="{% static 'blog/js/jquery.fancynav.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/jquery.autocompleter.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/blog.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/jquery.windstagball.js' %}"></script>
</head>
<body>
<div class="scanlines"></div>
<div class="mobile-nav">
    <ul class="fancynav-add">
        <li>
            <a href="#">Blog</a>
        </li>
        <li>
            <a href="#">Categroies</a>
            <ul>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Hosting</a></li>
                <li>
                    <a href="#">Design</a>
                    <ul>
                        <li><a href="#">Graphics</a></li>
                        <li><a href="#">Vectors</a></li>
                        <li>
                            <a href="#">Photoshop</a>
                            <ul>
                                <li><a href="#">Photo editing</a></li>
                                <li><a href="#">Business cards</a></li>
                                <li><a href="#">Websites</a></li>
                                <li><a href="#">Flyers</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Fonts</a></li>
                    </ul>
                </li>
                <li><a href="#">Consulting</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
        <li><a href="#">Login</a></li>
        <li>
            <form action="#" method="get" id="mobile-search" class="container">
                <input type="text" name="q" placeholder="Search" id="mobile-search-input">
                <button type="submit"
                        class="button button-normal button-plain button-borderless fa fa-search"></button>
            </form>
        </li>
    </ul>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- BEGIN HEADER-->
        <div class="header box-bottom">
            <div class="col-md-1">
                <div class="logo" data-fancynav-class="fancynav-logo" aria-hidden="true">
                    <a href="#"><img src="{% static 'blog/images/logo.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-md-4 visible-lg visible-md">
                <ul class="navbar row venus-menu hidden-xs">
                    <li class="col-md-3">
                        <a href="#">话题</a>
                        <ul>
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Hosting</a></li>
                            <li>
                                <a href="#">Design</a>
                                <ul>
                                    <li><a href="#">Graphics</a></li>
                                    <li><a href="#">Vectors</a></li>
                                    <li>
                                        <a href="#">Photoshop</a>
                                        <ul>
                                            <li><a href="#">Photo editing</a></li>
                                            <li><a href="#">Business cards</a></li>
                                            <li><a href="#">Websites</a></li>
                                            <li><a href="#">Flyers</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Fonts</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Consulting</a></li>
                        </ul>
                    </li>
                    <li class="col-md-3 col-xs-12">
                        <a href="{% url 'blog:post-list' %}">博文</a>
                    </li>
                    <li class="col-md-3">
                        <a href="#">分类</a>
                        <ul>
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Hosting</a></li>
                            <li>
                                <a href="#">Design</a>
                                <ul>
                                    <li><a href="#">Graphics</a></li>
                                    <li><a href="#">Vectors</a></li>
                                    <li>
                                        <a href="#">Photoshop</a>
                                        <ul>
                                            <li><a href="#">Photo editing</a></li>
                                            <li><a href="#">Business cards</a></li>
                                            <li><a href="#">Websites</a></li>
                                            <li><a href="#">Flyers</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Fonts</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Consulting</a></li>
                        </ul>
                    </li>
                    <li class="col-md-3">
                        <a href="#">关于我</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 hidden-xs hidden-sm">
                {% block search_form_pc %}
                    <form class="searchform row" method="get" action="#">
                        <div class="col-md-10">
                            <input id="search-input" type="text" name="q" placeholder="Search"
                                   style="letter-spacing: 1.25px;"/>
                        </div>
                        <div class="col-md-2">
                            <button type="submit"
                                    class="button button-normal button-plain button-borderless fa fa-search"></button>
                        </div>
                    </form>
                {% endblock %}
            </div>
            <div class="col-md-3">
                <div class="social-wrapper row hidden-xs hidden-sm">
                    {% if request.user.is_authenticated %}
                        <img id="user-image" src="{% static 'blog/images/avatar.png' %}"/>
                        <ul class="userdetail hide">
                            <li class="userdetail-name">{{ request.user.username }}</li>
                            <li><a href="#">进入个人中心</a></li>
                            <li><a href="#">退出</a></li>
                        </ul>
                    {% else %}
                        <a href="#" class="fas fa-sign-in-alt signin-btn"></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- END HEADER -->
        <div class="placebar"></div>
        <!-- CONTENT BEGIN -->
        <div class="content-panel row">
            <div class="content-body col-md-8">
                <!--POST BEGIN-->
                {% block post-area %}{% endblock %}
                <!--POST END-->
                {% block paginator-area %}{% endblock %}
            </div>
            <div class="content-meta col-md-4">
                <div class="blog-meta">
                    {% block blog-meta-area %}
                        <div class="msg-board">
                            <div class="msg-title">
                                博主
                            </div>
                            <div class="msg-content">
                                <ul class="author-list">
                                    <li>
                                        <div class="author row">
                                            <a href="" class="col-xs-4">
                                                <img src="{% static 'blog/images/thumb.jpg' %}" alt="">
                                            </a>
                                            <div class="author-meta col-xs-8">
                                                <p><span class="far fa-envelope">&nbsp;&nbsp;jennei@hotmail.com</span>
                                                </p>
                                                <p><span class="fab fa-qq">&nbsp;&nbsp;303288346</span></p>
                                                <p><span class="fab fa-github">&nbsp;&nbsp;<a
                                                        href="https://gitee.com/RenKang303288346"
                                                        target="_blank">https://github.com/Jennei</a></span>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="msg-board">
                            <div class="msg-title">
                                公告
                            </div>
                            <div class="msg-content">
                                <ul class="notice-list row">
                                    <li>
                                        <a href="#" class="col-xs-9">由于个人离职，博客暂停答复。</a>
                                        <span class="col-xs-3">2018年4月4日</span>
                                    </li>
                                    <li>
                                        <a href="#" class="col-xs-9">今天心情不好，不回复任何问题。</a>
                                        <span class="col-xs-3">2018年4月4日</span>
                                    </li>
                                    <li>
                                        <a href="#" class="col-xs-9">博客暂定5月初上线。</a>
                                        <span class="col-xs-3">2018年4月4日</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="msg-board">
                            <div class="msg-title">
                                热门博文
                            </div>
                            <div class="msg-content">
                                <ul class="post-list">
                                    <li>
                                        <div class="hot-post row">
                                            <a href="" class="col-xs-4">
                                                <span class="more hide"></span>
                                                <img src="{% static 'blog/images/thumb.jpg' %}" alt="">
                                            </a>
                                            <div class="hot-post-meta col-xs-8">
                                                <a href="#">Charming Winter</a>
                                                <p>28th Sep 2012</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="hot-post row">
                                            <a href="" class="col-xs-4">
                                                <span class="more hide"></span>
                                                <img src="{% static 'blog/images/thumb.jpg' %}" alt="">
                                            </a>
                                            <div class="hot-post-meta col-xs-8">
                                                <a href="#">Charming Winter</a>
                                                <p>28th Sep 2012</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="hot-post row">
                                            <a href="" class="col-xs-4">
                                                <span class="more hide"></span>
                                                <img src="{% static 'blog/images/thumb.jpg' %}" alt="">
                                            </a>
                                            <div class="hot-post-meta col-xs-8">
                                                <a href="#">Charming Winter</a>
                                                <p>28th Sep 2012</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="msg-board">
                            <div class="msg-title">
                                博主推荐
                            </div>
                            <div class="msg-content">
                                <ul class="post-list">
                                    <li>
                                        <div class="hot-post row">
                                            <a href="" class="col-xs-4">
                                                <span class="more hide"></span>
                                                <img src="{% static 'blog/images/thumb.jpg' %}" alt="">
                                            </a>
                                            <div class="hot-post-meta col-xs-8">
                                                <a href="#">Charming Winter</a>
                                                <p>28th Sep 2012</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="hot-post row">
                                            <a href="" class="col-xs-4">
                                                <span class="more hide"></span>
                                                <img src="{% static 'blog/images/thumb.jpg' %}" alt="">
                                            </a>
                                            <div class="hot-post-meta col-xs-8">
                                                <a href="#">Charming Winter</a>
                                                <p>28th Sep 2012</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="hot-post row">
                                            <a href="" class="col-xs-4">
                                                <span class="more hide"></span>
                                                <img src="{% static 'blog/images/thumb.jpg' %}" alt="">
                                            </a>
                                            <div class="hot-post-meta col-xs-8">
                                                <a href="#">Charming Winter</a>
                                                <p>28th Sep 2012</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
        <!-- CONTENT END -->
        <div class="placebar"></div>
        <!-- BEGIN FOOTER -->
        <div class="footer box-top row hidden-xs hidden-sm">
            <div class="footer-content">
                {% block footer-content-area %}
                    <div class="footer-board col-xs-3">
                        <div class="footer-board-title">
                            好评最多
                        </div>
                        <div class="footer-board-content">
                            <ul class="rec-blog-list">
                                <li>
                                    <div class="rec-blog col-xs-4">
                                        <a href="#">
                                            <span class="more hide"></span>
                                            <img src="{% static 'blog/images/thumb.jpg' %}" class="thumb-cover" alt="">
                                        </a>
                                    </div>
                                    <div class="rec-blog-meta col-xs-8">
                                        <a href="#">Django部署完全指南</a>
                                        <p>2018年4月4日 20:35:12</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="rec-blog col-xs-4">
                                        <a href="#">
                                            <span class="more hide"></span>
                                            <img src="{% static 'blog/images/thumb.jpg' %}" class="thumb-cover" alt="">
                                        </a>
                                    </div>
                                    <div class="rec-blog-meta col-xs-8">
                                        <a href="#">Django部署完全指南</a>
                                        <p>2018年4月4日 20:35:12</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="rec-blog col-xs-4">
                                        <a href="#">
                                            <span class="more hide"></span>
                                            <img src="{% static 'blog/images/thumb.jpg' %}" class="thumb-cover" alt="">
                                        </a>
                                    </div>
                                    <div class="rec-blog-meta col-xs-8">
                                        <a href="#">Django部署完全指南</a>
                                        <p>2018年4月4日 20:35:12</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-board col-xs-3">
                        <div class="footer-board-title">
                            归档
                        </div>
                        <div class="footer-board-content">
                            <ul class="post-archive-list">
                                {% for ar_date in post_archive_date_list %}
                                    {% get_post_archive_count ar_date.year ar_date.month as ar_count %}
                                    <li>
                                        <a href="{% url 'blog:post-archive' ar_date.year ar_date.month %}"><span
                                                class="col-xs-8">{{ ar_date.year }}年{{ ar_date.month }}月</span><span
                                                class="col-xs-4">{{ ar_count }}篇</span></a>
                                    </li>
                                {% empty %}
                                    <li>暂无归档</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="footer-board col-xs-3">
                        <div class="footer-board-title">
                            标签云
                        </div>
                        <div class="footer-board-content">
                            <div id="tagcloud">
                                {% for tag in post_tag_list %}
                                    <a href="{% url 'blog:post-tag' tag.id %}">{{ tag.name }}</a>
                                {% empty %}
                                    暂时没有博文标签
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="footer-board col-xs-3">
                        <div class="footer-board-title">
                            友情链接
                        </div>
                        <div class="footer-board-content">
                            <ul class="friendship-link-list">
                                <li>
                                    <a href="#">somebody's blog</a>
                                </li>
                                <li>
                                    <a href="#">somebody's blog</a>
                                </li>
                                <li>
                                    <a href="#">somebody's blog</a>
                                </li>
                                <li>
                                    <a href="#">somebody's blog</a>
                                </li>
                                <li>
                                    <a href="#">somebody's blog</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
        <div class="site-claim">
            <p>Copyright <span class="far fa-copyright"></span> myblog 2017~2018 All Rights Reserved</p>
        </div>
        <!-- END FOOTER -->
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $.backstretch("{% static 'blog/images/bg/bg3.jpg' %}");
        $('#search-input').autocompleter({
            source: "{% url 'blog:post-autocomplete' %}",
            limit: 5,
            cache: true,
            combine: function (args) {
                return {
                    'q': args.query,
                    'count': args.limit,
                    {#'csrfmiddlewaretoken': '{{ csrf_token }}'#}
                };
            }
        });
    });
</script>
{% block extra-js %}{% endblock %}
</body>
</html>