{% extends 'blog/base.html' %}
{% load static %}
{% load more_like_this %}

{% block post-area %}
    <div class="post-detail">
        <div class="post-detail-title row">
            <span>{{ post.title }}</span>
        </div>
        <div class="post-detail-meta row">
            <p class="author">{{ post.author }}&nbsp;<span>{{ post.published_time }}</span></p>
            <span class="far fa-comments">&nbsp;{{ post.n_comments }}</span>
            <span class="far fa-heart">&nbsp;223</span>
            <span class="fas fa-eye">&nbsp;{{ post.n_browsers }}</span>
        </div>
        <div class="post-detail-content">
            <div id="editormd-view">
                <textarea style="display:none;" id="markdown-doc">{{ post.content|safe }}</textarea>
            </div>
        </div>
        <div class="post-detail-footer row">
            <div class="line"></div>
            {% if post.prev %}
                <a href="{{ post.prev.get_absolute_url }}" class="prev-post col-xs-6"><span
                        class="fas fa-angle-double-left"></span>上一篇 {{ post.prev.title }}</a>
            {% endif %}
            {% if post.next %}
                <a href="{{ post.next.get_absolute_url }}"
                   class="next-post col-xs-6 pull-right">下一篇 {{ post.next.title }}<span
                        class="fas fa-angle-double-right"></span></a>
            {% endif %}
        </div>
    </div>
    <!--POST END-->
    <!--COMMENT-->
    <div class="comment-panel">
        <div class="comment-panel-header">
            <div class="comment-panel-header-meta">
                <span class="comment-caution">文明留言， 说说你的看法。</span>
                <span class="comment-caution-meta pull-right">{{ post.n_comments }} 条评论, {{ post.n_comment_users }} 人参与</span>
            </div>
            <div class="comment-panel-header-body">
                {% if request.user.is_authenticated %}
                    <textarea id="comment-widget"></textarea>
                    <span class="comment-btn button button-glow button-rounded button-royal">发表</span>
                {% else %}
                    <a href="#">请登陆后操作</a>
                {% endif %}
                <input type="hidden" id="content_type" value="{{ ct }}">
                <input type="hidden" id="object_id" value="{{ post.id }}">
                <input type="hidden" id="comment_content_type" value="{{ cmt_ct }}">
                <input type="hidden" id="username" value="{{ request.user.username }}">
                <div class="line"></div>
            </div>
        </div>
        <div class="comment-panel-body"></div>
    </div>
{% endblock %}


{% block blog-meta-area %}
    <div class="msg-board">
        <div class="msg-title">
            博主
        </div>
        <div class="msg-content">
            <ul class="author-list">
                <li>
                    <div class="author row">
                        <a href="" class="col-xs-4">
                            <img src="{% static 'blog/images/thumb.jpg' %}" alt="" width="100px" height="100px">
                        </a>
                        <div class="author-meta col-xs-8">
                            <p><span class="far fa-envelope">&nbsp;&nbsp;jennei@hotmail.com</span>
                            </p>
                            <p><span class="fab fa-qq">&nbsp;&nbsp;303288346</span></p>
                            <p><span class="fab fa-github">&nbsp;&nbsp;<a
                                    href="https://gitee.com/RenKang303288346"
                                    target="_blank">https://github.com/Jennei</a></span>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="line"></div>
    <div class="msg-board">
        <div class="msg-title">
            目录
        </div>
        <div class="msg-content">
            <div id="toc-container"></div>
        </div>
    </div>
    <div class="line"></div>
    <div class="msg-board">
        <div class="msg-title">
            博文资源
        </div>
        <div class="msg-content">
            <ul class="notice-list row">
                {% for rc in post.resources.all %}
                    <li>
                        <a href="{{ rc.resource.url }}" class="col-xs-9">{{ rc.name }}</a>
                        <span class="col-xs-3">{{ rc.add_time }}</span>
                    </li>
                {% empty %}
                    <li>该博文没有资源</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="line"></div>
    <div class="msg-board">
        <div class="msg-title">
            相似博文
        </div>
        <div class="msg-content">
            <ul class="post-list">
                {% more_like_this post as related_post_list limit 3 %}
                {% for r_post in related_post_list %}
                    <li>
                        <div class="hot-post row">
                            <a href="{{ r_post.object.get_absolute_url }}" class="col-xs-4">
                                <span class="more hide"></span>
                                <img src="{{ r_post.object.cover.url }}" alt="">
                            </a>
                            <div class="hot-post-meta col-xs-8">
                                <a href="#">{{ r_post.object.title }}</a>
                                <p>{{ r_post.object.published_time }}</p>
                            </div>
                        </div>
                    </li>
                {% empty %}
                    暂时没有相似文章
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="line"></div>
    <div class="msg-board">
        <div class="msg-title">
            推广/订阅
        </div>
        <div class="msg-content">
            <ul class="syndication-list">
                <li><a href="{% url 'blog:post-latest' %}" class="fas fa-rss-square">RSS</a></li>
            </ul>
        </div>
    </div>
{% endblock %}


{% block extra-css %}
    <link rel="stylesheet" href="{% static 'mdeditor/css/editormd.preview.css' %}">
{% endblock %}

{% block extra-js %}
    <script src="{% static 'comment/kindeditor/kindeditor-all-min.js' %}"></script>
    <script src="{% static 'comment/kindeditor/lang/zh-CN.js' %}"></script>
    <script src="{% static 'comment/kindeditor/config.js' %}"></script>
    <script src="{% static 'mdeditor/lib/marked.min.js' %}"></script>
    <script src="{% static 'mdeditor/lib/prettify.min.js' %}"></script>
    <script src="{% static 'mdeditor/lib/raphael.min.js' %}"></script>
    <script src="{% static 'mdeditor/lib/underscore.min.js' %}"></script>
    <script src="{% static 'mdeditor/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'mdeditor/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'mdeditor/lib/jquery.flowchart.min.js' %}"></script>
    <script src="{% static 'mdeditor/editormd.min.js' %}"></script>
    <script src="{% static 'comment/js/comment.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            editormd.markdownToHTML("editormd-view", {
                emoji: true,
                taskList: true,
                tex: true,  // 默认不解析
                flowChart: true,  // 默认不解析
                sequenceDiagram: true,  // 默认不解析
                tocm: true,
                tocContainer: "#toc-container", // 自定义 ToC 容器层
            });
        });
    </script>
    <script>
        $(function () {
            var comment = new MyBlogComment({
                textarea: "#comment-widget",
                comment_reply_url: '/comment/',
            });

            $('.comment-panel-header-body').on('click', '.comment-btn', function () {
                comment.create_comment();
            });
        });
    </script>
{% endblock %}
