{% extends "bloguser/base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    {% if validlink %}

        <p style="margin-bottom: 25px; line-height: 25px;">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        <form action="" method="post">
        {% csrf_token %}
        <div class="row form-widgets">
            <input type="password" name="new_password1" class="password col" style="margin-top: 25px;"
                   {% if form.new_password1.errors %}{% for error in form.new_password1.errors %}placeholder="{{ error }}" {% endfor %}{% else %}placeholder="请输入密码"{% endif %}>
            <input type="password" name="new_password2" class="password col" style="margin-top: 25px;"
                   {% if form.new_password2.errors %}{% for error in form.new_password2.errors %}placeholder="{{ error }}" {% endfor %}{% else %}placeholder="请再次输入密码"{% endif %}>
            <div class="col">
                <button type="submit" class="button button-glow button-rounded button-royal" style="margin-top: 25px">
                    修改密码
                </button>
            </div>
        </div>
    </form>

    {% else %}

        <p style="line-height: 25px;">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}

{% endblock %}
