{% extends 'bloguser/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="caution" style="margin-bottom: 25px; line-height: 20px">
        忘记密码? 在下面输入你的邮箱地址, 我们会用邮件通知你设置新的密码。
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="row form-widgets">
            <input type="text" name="email" class="username col"
                   {% if form.email.errors %}{% for error in form.email.errors %}placeholder="{{ error }}" {% endfor %}{% else %}placeholder="邮箱"{% endif %}>
            <div class="col">
                <button type="submit" class="button button-glow button-rounded button-royal" style="margin-top: 25px">
                    发送
                </button>
            </div>
        </div>
    </form>
{% endblock %}