{% extends 'bloguser/base.html' %}

{% block title %}MyBlog-注册{% endblock %}

{% block content %}
    <form action="" method="post">
        <div class="row">
            <input type="text" name="username" class="username col" placeholder="用户名/邮箱">
            <input type="password" name="password1" class="password col" style="margin-top: 25px;" placeholder="请输入密码">
            <input type="password" name="password2" class="password col" style="margin-top: 25px;" placeholder="请再次输入密码">
            <div class="col" style="margin-top: 25px">
                <button type="submit" class="button button-glow button-rounded button-royal">注册</button>
            </div>
            <div class="col links" style="margin-top: 25px;">
                <a href="#" class="pull-left">已经有了帐号？</a>
            </div>
        </div>
    </form>
{% endblock %}